<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Information Form</title>
</head>


<body>
<form action="" method="POST">
    {% csrf_token %}
    First number: <input type="number" name="First number"
                         value='{% if submitbutton == "Submit" %} {{ firstnumber }} {% endif %}'/><br><br>
    Last number: <input type="number" name="Last number"
                        value='{% if submitbutton == "Submit" %} {{ lastnumber }} {% endif %}'/><br><br>

    <input type="Submit" name="Submit" value="Submit"/>
</form>


{% if submitbutton == "Submit" %}
<h1> Your first number is {{ firstnumber }}</h1>
<h1> Your last number is {{ lastnumber }}</h1>

{% endif %}


</body>
<!--<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpbh-mt'},{'server':'p3plmcpnl487010'},{'id':'8437534'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>-->
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>ENTER FORM</title>-->
<!--</head>-->
<!--<body>-->
<!--  <form align="center" method="POST" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type="submit" value="submit">-->

<!--  </form>-->
<!--<table agline="center">-->
<!--    <div>-->
<!--        {% for data in dataset %}-->
<!--        {{ data.name}}</br>-->
<!--        {{ data.lnum}}</br>-->
<!--        {{ data.fnum}}-->
<!--        <hr/>-->
<!--        {% endfor %}-->
<!--        <input onclick="herf={% url 'list_view'%}" value="show" type="submit">-->
<!--    </div>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->